@use 'reset'
@use 'srchBar'
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap')
// variables
$text: white
$powder:#c2dfe3
$cadet: #5c6b73
$pewter: #1b1b1b

#app
  background-color: $pewter
  font-family: 'Chivo'
  height: 100vh
  width: 100vw
  display: flex 
  flex-direction: column
  align-items: flex-start

header
  display: flex
  align-items: center
  justify-content: flex-end
  width: 100vw
  height: 10vh

.icon
  margin: 0
  margin-right: auto
  margin-left: 3%
  display: flex
  font-size: 35px
  align-items: center
  // animation: spin 7s linear 0s infinite
  color: #ec6e4c

main
  width: 100vw
  height: 90vh
  display: flex
  align-items: center
  justify-content: center

#mainForecast,#infoHolder
  width: 40%
  height: 100%
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: center
  padding: 5%
  color: $text

#infoHolder
  width: 60%

h2
  font-size: 5vh
  animation: appear 500ms cubic-bezier(.6,-0.19,.76,1.4)

  #tempReadout
    font-size:10vh
    animation: appear 750ms cubic-bezier(.6,-0.19,.76,1.4) 

  #status
    animation: appear 1000ms cubic-bezier(.6,-0.19,.76,1.4) 
  
#tempContainer
  display: flex
  align-items: center
  font-size: 10vw
  color: $text

  height: 150px

.dayForecast
  display: flex
  align-items: center
  justify-content: space-between
  height: 150px
  width: 100%
  color: $text
  animation: appear 1000ms cubic-bezier(.6,-0.19,.76,1.4)

  #sevenDay
    width: 25%

  #sevenHiLo
    width: 30%

  #descripW
    color: #ec6e4c
    width: 40%

  #sevenDay, #sevenHiLo, #sevenicon, #descripW
    align-items: center
    justify-content: center
  #iconW
    max-height: 50px

  h3
    font-size: 3vh


@keyframes appear
  0%
    opacity: 0
    transform: scale(0)

  100%
    opacity: 1
    transform: scale(1)

@keyframes spin
  0%
    transform: rotate()(0)
  100%
    transform: rotate(360deg)


@media screen and ( max-width: 1000px  ) 
  main
    flex-direction: column
  #mainForecast
    width: 100vw
    height: 35vh
    align-items: flex-start

    h2
      font-size: 30px
    #tempReadout
      font-size: 90px

    #status
      max-height: 110px

  #infoHolder
    width: 100vw
    height: 65vh
    align-items: center
    justify-content: center

  #tempContainer
    justify-content: center
  
  #descripW
    display: none
  #sevenHiLo
    width: 60%
